.section { 
  color: white;
  padding: 5%;
  z-index: 0;
}

.parallax {
  position: relative;
  content: normal;
  height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1 ;
}

.content {
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right, black, rgb(1, 1, 50));
  font-family: sans-serif;
  transition: box-shadow 1s;
  width: 90%;
}

.content:hover {
  box-shadow: 5px 10px;
}

.bg1 {
  background-image: url('../images/fighter.jpg');
}

h1 {
  font-size: xx-large;
  text-align: center;
}