.wrapper {
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;
  }

  .section { 
    position: relative;
    height: 50%;
    display: flex;
    color: black;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .static {
    background: white;
  }

  .bg1::after {
    background-image: url('../images/fighter.jpg');
  }
  
  .bg2::after {
    background-image: url('../images/fighter.jpg');
  }

  h {
    font-size: 100px;
  }